/resources/pos
/resources/views/excel
/resources/views/pda
/resources/views/pdf
/resources/views/saas
/super_admin
/public/pos
*.bat
*.ps1
*.cs
*.exe
*.dll
*.zip
*.zip.*
dist/
webview2_pkg/
INFY-POS-Desktop/
runtimes/
installer/
storage/
/node_modules
/public/hot
/public/storage
/vendor
.env
.env.*
!.env.example
!.env.render.example
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log